

.SobreNos{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 80%;
   margin: auto;
   gap: 30px;

    }

 .SobreNos >div p 	{
    font-size: 2em;
 }
 
 .SobreNos >div h1 {

    font-size: 2.7em;
    color: var(--primary-color);
    
 }

 .imgs{
    display: flex;
    flex-direction: column;
    margin: 100px;
}
 
.imgdescricao{
    margin-bottom: 100px;
}

.Fundoslaranja {
    background-color: var(--primary-color);
    height: 450px;
    width: 70%;
    display: flex;
    border-radius: 100px;
   
    align-items: center;
    margin: auto;
}

.devs{
    display: flex;
   
    padding: 20px;
    margin: auto;
}


